* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(0.4turn,rgb(76, 96, 160),rgb(154, 206, 247));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  color: darkslateblue;
  font-size: 1.4em;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  padding: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button {
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  background-image: linear-gradient(rgb(91, 80, 163), rgb(117, 104, 199));
  color: white;
  border: 1px solid rgba(0,0,0,0);
}

.wrapper {
  background-color: rgb(255, 255, 255);
  width: 700px;
  border-left: 1px solid rgb(70, 68, 90);
  border-right: 1px solid rgb(70, 68, 90);
  margin: 0 auto;
  padding: 0 60px 8px 60px;
  box-shadow: 0px 0px 200px rgba(0,0,0,0.2);
}

.head {
  text-align: center;
  padding: 100px;
  font-size: 3em;
  font-weight: bold;
  color: darkslateblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  width: 84%;
  margin: 0 auto;
}

#br-div {
  margin-bottom: 50px;
}

.input-label-div {
  padding-top: 14px;
}

#antalPersoner {
  text-align: center;
  padding-top: 5px;
  font-size: 1.5em;
}

.giltigt {
  color: white;
}

.maltider {
  margin-top: 0px;
}

.maltider2 {
  margin-top: 12px;
  margin-bottom: 2px;
}

#giltigt {
  display: inline-block;
  width: 47%;
}

.submit {
  margin: 100px auto 20px auto;
  text-align: center;
}

#resultat-grid {
  display: grid;
  grid-template-columns: 200px 180px;
  grid-gap: 0px;
  width: 380px;
  margin: 50px auto 0px auto;
  /*border-top: 1px solid rgba(0,0,0,0.2);*/
  padding-top: 50px;
  padding-bottom: 90px;
}

#resultat {
  display: inline-block;
}

#resultat:first-child {
  margin: 60px 0 0 0;
}

#input-namn {
  font-weight: bold;
  padding: 4px;
  color: darkslateblue;
}

#input-data {
  padding: 4px;
}

.br-div-2 {
  margin-top: 30px;
}